main::before {
  text-shadow: 2.3343726171em 0.150857979em 7px rgba(0, 255, 254, 0.9), 1.8910511196em 1.4417394713em 7px rgba(91, 0, 255, 0.9), -0.0248136975em -0.0344866344em 7px rgba(255, 0, 112, 0.9), -0.3456146312em -0.365763693em 7px rgba(105, 255, 0, 0.9), 0.3756318122em 1.8439752181em 7px rgba(87, 255, 0, 0.9), 0.6659147483em 1.1962496188em 7px rgba(8, 255, 0, 0.9), 2.2530923472em 1.6441800816em 7px rgba(12, 255, 0, 0.9), -0.2663542168em 0.1951693836em 7px rgba(0, 255, 115, 0.9), 0.9976729771em 0.4385325713em 7px rgba(0, 42, 255, 0.9), 0.6927778438em -0.0382298664em 7px rgba(255, 149, 0, 0.9), 1.4768891063em 0.3083893204em 7px rgba(255, 74, 0, 0.9), 1.1635245458em 1.685764753em 7px rgba(0, 255, 16, 0.9), 0.7205887512em 2.2732263182em 7px rgba(0, 255, 217, 0.9), 0.2622097119em 1.9101883023em 7px rgba(148, 255, 0, 0.9), 2.0220139559em 1.1274991203em 7px rgba(0, 178, 255, 0.9), 0.5246311372em 1.611268438em 7px rgba(255, 0, 249, 0.9), 2.4911736065em 1.0162068572em 7px rgba(255, 0, 59, 0.9), 0.2941731949em 0.8098442026em 7px rgba(0, 255, 255, 0.9), 1.5888634799em 1.5991205557em 7px rgba(255, 195, 0, 0.9), 2.1859539021em -0.2500550212em 7px rgba(225, 255, 0, 0.9), -0.2946017379em 1.9702594008em 7px rgba(0, 255, 47, 0.9), -0.0844333145em 1.2874641067em 7px rgba(145, 0, 255, 0.9), 2.3713800974em 1.6428309099em 7px rgba(255, 0, 245, 0.9), 1.8261803341em 2.3717546081em 7px rgba(80, 0, 255, 0.9), 0.3166346671em 1.7158130119em 7px rgba(0, 137, 255, 0.9), 0.018358711em 0.6773945782em 7px rgba(167, 255, 0, 0.9), 1.942979414em 1.6790091929em 7px rgba(0, 255, 221, 0.9), 0.634640087em 0.7753190262em 7px rgba(199, 0, 255, 0.9), 1.4729735971em 1.2660225447em 7px rgba(0, 220, 255, 0.9), 0.2972645787em 0.6705394862em 7px rgba(255, 152, 0, 0.9), -0.0569429258em 0.0968079766em 7px rgba(137, 0, 255, 0.9), 0.8723163098em -0.2966679402em 7px rgba(0, 59, 255, 0.9), 1.97231508em 1.498818581em 7px rgba(164, 0, 255, 0.9), 0.2035138541em 0.8992335387em 7px rgba(255, 133, 0, 0.9), 2.0003222364em 1.3074917847em 7px rgba(0, 134, 255, 0.9), 1.2022770484em 0.6500530494em 7px rgba(0, 89, 255, 0.9), 0.0659742789em 0.5988073214em 7px rgba(52, 255, 0, 0.9), 0.3032287367em -0.1914504509em 7px rgba(255, 215, 0, 0.9), -0.404844089em 1.1052533307em 7px rgba(255, 148, 0, 0.9), 0.3134070039em 0.1257269655em 7px rgba(255, 49, 0, 0.9), 1.6435976787em 0.8135785369em 7px rgba(0, 241, 255, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

main::after {
  text-shadow: 2.3698953648em 0.2741861962em 7px rgba(0, 255, 128, 0.9), 0.8034220741em 1.3048086011em 7px rgba(255, 131, 0, 0.9), 0.2973098027em 1.4992470678em 7px rgba(115, 0, 255, 0.9), 0.3178886136em 0.9731687983em 7px rgba(26, 255, 0, 0.9), 0.1134198062em 0.0393529981em 7px rgba(0, 122, 255, 0.9), 2.3160077147em -0.1203872174em 7px rgba(255, 104, 0, 0.9), 0.5707966382em 0.661974845em 7px rgba(255, 248, 0, 0.9), 1.2606752616em 0.1756743874em 7px rgba(127, 0, 255, 0.9), 1.6035149841em 0.1642448439em 7px rgba(0, 181, 255, 0.9), 1.0525652851em 2.1905739049em 7px rgba(0, 4, 255, 0.9), 0.5479272898em 0.4926847129em 7px rgba(19, 0, 255, 0.9), 1.6401743812em -0.2060371291em 7px rgba(1, 255, 0, 0.9), 1.9978291743em -0.1687026225em 7px rgba(111, 0, 255, 0.9), 2.4013588451em 2.4863267082em 7px rgba(255, 0, 74, 0.9), 0.4630934139em 2.4791071559em 7px rgba(0, 255, 34, 0.9), 0.3747659692em 0.1822142018em 7px rgba(255, 152, 0, 0.9), 2.219948695em -0.1668843295em 7px rgba(145, 0, 255, 0.9), -0.3462662124em 1.9175039552em 7px rgba(136, 255, 0, 0.9), 1.8357170405em 0.2852537858em 7px rgba(0, 230, 255, 0.9), 0.0139788122em 0.0279322307em 7px rgba(0, 126, 255, 0.9), 1.4732954739em 1.4083136159em 7px rgba(255, 200, 0, 0.9), 2.0783733274em 0.4445380017em 7px rgba(255, 0, 182, 0.9), 2.1580338458em 0.9349426532em 7px rgba(84, 255, 0, 0.9), 2.2769177506em 1.3643377566em 7px rgba(0, 255, 220, 0.9), 1.8260217208em 2.0204948496em 7px rgba(255, 0, 157, 0.9), -0.139243183em -0.4743702505em 7px rgba(255, 155, 0, 0.9), 0.5406585676em 2.2640223507em 7px rgba(0, 223, 255, 0.9), 0.8478848157em 0.7067002886em 7px rgba(255, 134, 0, 0.9), 2.1320887432em 1.8934557067em 7px rgba(0, 255, 42, 0.9), 1.706393065em 0.2067652443em 7px rgba(120, 0, 255, 0.9), 1.3199006677em 2.3769237333em 7px rgba(0, 138, 255, 0.9), 2.3646806143em 0.744198461em 7px rgba(255, 0, 136, 0.9), 0.5215607271em 0.8920896472em 7px rgba(255, 106, 0, 0.9), 1.1987679359em 1.0013468284em 7px rgba(255, 0, 111, 0.9), 1.4545245632em 1.6057103761em 7px rgba(232, 255, 0, 0.9), 2.3992395695em 0.1737994709em 7px rgba(255, 0, 134, 0.9), 1.29234479em -0.2972924557em 7px rgba(255, 248, 0, 0.9), 1.268416052em 2.0387685557em 7px rgba(0, 71, 255, 0.9), 0.9963426205em 2.2841694536em 7px rgba(197, 255, 0, 0.9), 1.7161452987em 0.4432105474em 7px rgba(255, 0, 114, 0.9), 1.3116934832em 1.4267744375em 7px rgba(0, 40, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

section::before {
  text-shadow: 2.1228121498em 2.1458179288em 7px rgba(255, 0, 16, 0.9), 1.1050980973em -0.4073720765em 7px rgba(201, 0, 255, 0.9), 1.5479443296em 1.0706482744em 7px rgba(255, 165, 0, 0.9), 1.3678406518em 1.7080864505em 7px rgba(255, 0, 44, 0.9), 1.1018512721em -0.051636456em 7px rgba(255, 242, 0, 0.9), 2.0375323906em 0.2411085877em 7px rgba(255, 0, 56, 0.9), 1.7883234177em 2.3979522324em 7px rgba(255, 111, 0, 0.9), 0.4396588959em 0.6438566938em 7px rgba(255, 0, 144, 0.9), 1.8428356372em 2.4563972451em 7px rgba(15, 0, 255, 0.9), 1.751696432em 0.4311578754em 7px rgba(255, 0, 35, 0.9), 0.4113477364em 2.4545366632em 7px rgba(79, 255, 0, 0.9), 0.3641301359em -0.2548771797em 7px rgba(0, 151, 255, 0.9), 0.3797691369em 0.4685635223em 7px rgba(0, 255, 191, 0.9), -0.3500068776em -0.0664958841em 7px rgba(79, 255, 0, 0.9), 1.2639915865em 0.3400004858em 7px rgba(0, 45, 255, 0.9), 0.1404957129em 0.2994680948em 7px rgba(13, 0, 255, 0.9), 1.9468041251em -0.2908844606em 7px rgba(76, 0, 255, 0.9), 1.8669662841em 1.1675983457em 7px rgba(0, 135, 255, 0.9), 2.2522786642em 0.4848993425em 7px rgba(250, 255, 0, 0.9), 0.2742865944em -0.163705542em 7px rgba(139, 0, 255, 0.9), 0.972588764em 0.0143674347em 7px rgba(0, 255, 97, 0.9), 1.1577663763em 0.5979671626em 7px rgba(0, 255, 60, 0.9), 0.3918721584em 0.3489328702em 7px rgba(0, 87, 255, 0.9), -0.2331467532em 2.4488178882em 7px rgba(0, 255, 112, 0.9), 0.2181788549em 0.1804043214em 7px rgba(255, 0, 93, 0.9), 1.1097428545em 0.3095640785em 7px rgba(0, 255, 111, 0.9), 1.4784250996em -0.134291954em 7px rgba(82, 0, 255, 0.9), 2.083759599em -0.4136992495em 7px rgba(0, 255, 118, 0.9), 0.8599211345em 0.2968100444em 7px rgba(84, 255, 0, 0.9), 1.662364269em 1.5605492523em 7px rgba(0, 35, 255, 0.9), 0.240284039em 0.0767878297em 7px rgba(139, 255, 0, 0.9), 2.0035366489em 1.7344036098em 7px rgba(227, 0, 255, 0.9), -0.4470666348em 1.9227979555em 7px rgba(0, 255, 153, 0.9), 0.7068655883em 2.3124802969em 7px rgba(0, 255, 223, 0.9), 1.8394699029em 1.0063697962em 7px rgba(0, 100, 255, 0.9), 1.3023391375em 0.8818603015em 7px rgba(0, 58, 255, 0.9), 2.0015461467em 1.6466890918em 7px rgba(255, 93, 0, 0.9), 1.2025769344em 1.4369551776em 7px rgba(255, 134, 0, 0.9), 2.2745547442em -0.0281719599em 7px rgba(255, 228, 0, 0.9), 1.7116929407em -0.2547346747em 7px rgba(0, 255, 103, 0.9), 1.0688941362em 2.3744376017em 7px rgba(255, 0, 189, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

section::after {
  text-shadow: 0.8555303574em 1.4349501814em 7px rgba(0, 198, 255, 0.9), -0.3211051917em 1.3269130399em 7px rgba(222, 0, 255, 0.9), 0.5075414204em 0.3944479834em 7px rgba(255, 0, 203, 0.9), 0.5137991079em -0.2242182656em 7px rgba(255, 0, 136, 0.9), 1.6578966177em 2.0629006194em 7px rgba(156, 0, 255, 0.9), 1.3506578853em 2.2185246034em 7px rgba(255, 172, 0, 0.9), 1.4153798858em 0.142206145em 7px rgba(0, 255, 178, 0.9), 1.9627948738em 1.9735590622em 7px rgba(67, 0, 255, 0.9), -0.4284303027em 1.5779938735em 7px rgba(161, 255, 0, 0.9), 0.7920561656em -0.1586347988em 7px rgba(101, 0, 255, 0.9), 1.6696571552em 2.4226239861em 7px rgba(193, 0, 255, 0.9), 2.0757431653em 1.6014948969em 7px rgba(128, 0, 255, 0.9), 2.0728462909em 0.4756307426em 7px rgba(0, 255, 216, 0.9), 1.898583615em 1.6829978105em 7px rgba(255, 0, 158, 0.9), -0.0662283372em -0.3214547118em 7px rgba(0, 82, 255, 0.9), 0.9089096503em -0.2180397554em 7px rgba(255, 0, 8, 0.9), 0.7461802545em 0.7285765356em 7px rgba(15, 0, 255, 0.9), 2.4244644294em 2.0872754573em 7px rgba(255, 0, 178, 0.9), 1.5464663137em 1.4016128538em 7px rgba(0, 203, 255, 0.9), 1.4844021251em -0.185260571em 7px rgba(0, 194, 255, 0.9), -0.216343331em 0.9885358547em 7px rgba(255, 0, 202, 0.9), 2.0850881902em 1.9744811601em 7px rgba(161, 255, 0, 0.9), 1.7586042272em 1.4567853307em 7px rgba(125, 0, 255, 0.9), 0.1795344807em -0.0207866376em 7px rgba(0, 198, 255, 0.9), 0.6394723956em 2.2639892149em 7px rgba(255, 0, 44, 0.9), 0.4806632709em 2.3766986259em 7px rgba(255, 13, 0, 0.9), 0.9734202179em 0.1498070782em 7px rgba(0, 27, 255, 0.9), 1.2044054272em 0.2743775099em 7px rgba(21, 255, 0, 0.9), 0.2739161206em -0.3858083119em 7px rgba(0, 165, 255, 0.9), 0.3806295883em 0.8783084253em 7px rgba(0, 255, 109, 0.9), 0.982730302em 1.5402693922em 7px rgba(0, 255, 195, 0.9), 1.829734247em -0.3670605228em 7px rgba(173, 0, 255, 0.9), 1.6265763553em 1.9179770006em 7px rgba(222, 0, 255, 0.9), 2.2217011144em 2.0186257157em 7px rgba(0, 255, 216, 0.9), 2.2356687583em 0.3212683808em 7px rgba(0, 255, 188, 0.9), 2.345241034em 2.3890160708em 7px rgba(41, 255, 0, 0.9), 1.680441026em 0.1479962214em 7px rgba(255, 0, 17, 0.9), 0.8598308838em -0.0993192189em 7px rgba(75, 0, 255, 0.9), 2.2812166703em 1.1285524898em 7px rgba(0, 255, 147, 0.9), -0.0567139048em 0.8553124308em 7px rgba(0, 135, 255, 0.9), 2.3774774327em -0.0205868651em 7px rgba(0, 176, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

.circle {
    background: transparent;
    position: relative;
    z-index: 0;
    filter: contrast(1.3) brightness(2);
  }
  .circle:before {
    content: "";
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #00b7ff;
    box-sizing: border-box;
    z-index: 0;
    transition: border-color 100ms;
  }
  .circle:after {
    content: "";
    top: 32px;
    left: 32px;
    right: 32px;
    bottom: 32px;
    position: absolute;
    border-radius: 50%;
    border: 21px solid rgba(198, 247, 255, 0.6);
    box-sizing: border-box;
    z-index: 0;
    filter: blur(12.5px);
  }
  .circle:hover {
    cursor: pointer;
  }
  .circle:hover::before {
    -webkit-animation: main-color 5s ease-in-out alternate infinite;
            animation: main-color 5s ease-in-out alternate infinite;
  }
  .circle:hover::after {
    -webkit-animation: highlight-color 5s ease-in-out alternate infinite;
            animation: highlight-color 5s ease-in-out alternate infinite;
  }
  .circle .noise {
    mix-blend-mode: multiply;
    z-index: 1;
    position: relative;
  }
  
  .animated {
    -webkit-animation: 20s bgPos ease-in-out infinite alternate;
            animation: 20s bgPos ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes bgPos {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 512px 512px;
    }
  }
  
  @keyframes bgPos {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 512px 512px;
    }
  }
  @-webkit-keyframes main-color {
    from {
      border-color: #00b7ff;
    }
    40% {
      border-color: #ffd500;
    }
    to {
      border-color: #c20000;
    }
  }
  @keyframes main-color {
    from {
      border-color: #00b7ff;
    }
    40% {
      border-color: #ffd500;
    }
    to {
      border-color: #c20000;
    }
  }
  @-webkit-keyframes highlight-color {
    from {
      border-color: rgba(199, 248, 255, 0.6);
    }
    60% {
      border-color: rgba(227, 199, 255, 0.6);
    }
    to {
      border-color: rgba(255, 232, 20, 0.644);
    }
  }
  @keyframes highlight-color {
    from {
      border-color: rgba(199, 248, 255, 0.6);
    }
    60% {
      border-color: rgba(227, 199, 255, 0.6);
    }
    to {
      border-color: rgba(255, 232, 20, 0.644);
    }
  }
 
  .noise {
    width: 450px;
    height: 450px;
    background-size: 200%;
    
  }